.App {
  text-align: center;
}

.users{
  display: flex;
}

.user {
  margin-left: 15px;
  height: 150px;
  width: 150px;
  background-color: maroon;
  color: white;
}

.movie {
  /* display: grid; */
  width: 200px;
  height: 300px;
  background-size: contain
  
}